.body
{
    background-color: #872341;
    height: 86svh;
    padding-top: 1svh;
    padding-left: 5svw;
    padding-right: 5svw;
}

.body h3
{
    color: white;
    margin: 0px;
    padding: auto;
    padding-top: 1svh;
}

.top-titles
{
    display: grid;
    grid-template: 1em 1em / 1fr 2fr 1fr;
    row-gap: 1svh;
}

#goal
{
    grid-area: 1 / 1;
}
#goal-variable
{
    grid-area: 1 / 2;
    justify-self: center;
}
#record
{
    grid-area: 2 / 1;
}
#record-variable
{
    grid-area: 2 / 2;
    color: #A5A5A5;
    font-size: 1.1em;
    justify-self: center;
}

.animations
{
    background-color: #BE3144;
    width: 90svw;
    height: 50svh;
    margin-top: 4svh;
    display: grid;
    grid-template: 100% / 20svw 50svw 20svw;
}

.animation
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-self:center;
}

.animations h1 
{
    margin: 0;
    padding: 0;
}
#timer
{
    width: 100%;
    z-index: 200;
}
#counter
{
    padding-left: 10svw;
    padding-right: 0;
    width: 100%;
}

.bottom-titles
{
    margin-top: 0;
    display: grid;
    grid-template: 1em 1em / 1fr 2fr 1fr;
    row-gap: 1svh;
}
#next
{
    grid-area: 1 / 2;
    justify-self: center;
}

#next-exercise
{
    color: #22092C;
    grid-area: 2 / 2;
    justify-self: center;
    margin-top: 2svh;
    font-size: 1.5em;
}

.controls
{
    margin-top: 7svh;
    display: flex;
    justify-content: space-between;
}